body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
* {
  box-sizing: border-box;
}
.pageWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
}

.routeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(rgb(202, 239, 250), white 30%);
}

.vertContainer {
  width: 24em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.inputHeader {
  width: 100%;
  text-align: left;
  font-size: 0.8em;
  margin-top: 1em;
}

.inputHeader--fail {
  color: red;
  font-weight: 900;
}

.button {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(77, 149, 201), #0072C6, rgb(77, 149, 201));
  border: 1px solid #0072C6;
  border-radius: 0.3em;
  padding: 0.4em;
  color: white;
  font-weight: bold;
  margin: 0.1em;
  max-width: 24em;
}

.button--clicked {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#0072C6, rgb(77, 149, 201));
  border: 1px solid #0072C6;
  border-radius: 0.3em;
  padding: 0.4em;
  color:white;
  font-weight: bold;
  margin: 0.1em;
  max-width: 24em;
}

.buttonsRow {
  display: flex;
  width: auto;
  margin: 0, auto;
  justify-content: center;
  align-items: space-around;
}

.formDivider {
  margin-top: 1em;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-image: linear-gradient(#0072C6, rgb(77, 149, 201));
  margin: 0 auto;
  padding: 0.4em;
  justify-content: space-between;
  color: white;
}